body {
	margin: 20px;
	background-image: url("img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100%;
	background-attachment: fixed;

}

div#questionBox {
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 40px;
}

div#ans {
	font-size: 25px;
/*	font-family: Arial, Helvetica, sans-serif;*/
}

input {
	font-size: 20px;
	border: black solid 1px;
	border-radius: 5px;
	background-color: white;
}

div#box {
	margin-top: 10%;
	border: black solid 5px;
	border-radius: 40px;
	height: 350px;
	width: 30%;
	padding: 150px 20px 0px 20px;
	background-color: lightgrey;
}

button {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
	background-color: transparent;
	border: none;
	margin: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
	
}

button:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (max-width: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
	div#questionBox {
		font-size: 25px;
	}
	div#ans {
		font-size: 20px;
	}
	div#box {
		margin-top: 25%;
		border: black solid 5px;
		border-radius: 40px;
		height: 280px;
		width: 85%;
		padding: 150px 20px 0px 20px;
		background-color: lightgrey;
	}

}