body {
	margin: 20px;
	background-image: url("img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100%;
	background-attachment: fixed;

}

div#questionBox {
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 40px;
}

div#ans {
	font-size: 25px;
/*	font-family: Arial, Helvetica, sans-serif;*/
}

input {
	font-size: 20px;
	border: black solid 1px;
	border-radius: 5px;
	background-color: white;
}

div#box {
	margin-top: 10%;
	border: black solid 5px;
	border-radius: 40px;
	height: 350px;
	width: 30%;
	padding: 150px 20px 0px 20px;
	background-color: lightgrey;
}

@media only screen and (max-width: 500px) {
	div#questionBox {
		font-size: 25px;
	}
	div#ans {
		font-size: 20px;
	}
	div#box {
		margin-top: 25%;
		border: black solid 5px;
		border-radius: 40px;
		height: 280px;
		width: 85%;
		padding: 150px 20px 0px 20px;
		background-color: lightgrey;
	}

}